body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  --base-green-color:hsl(172, 100%, 94%);
  --base-white-color:#ffff;
  --base-green-color:#5acaa6;
  --base-title-color:#7d9d87;


  font-size: 100%;
  font-family: "Times New Roman", Times, serif;
  background-color: hsl(172, 100%, 94%);
}
